<md-content layout-padding layout="column" ng-cloak>
    <form flex ng-submit="vm.save()" id="create-world">

      <md-input-container class="md-block">
        <label>Name</label>
        <input md-maxlength="30" required md-no-asterisk ng-model="vm.newWorld.name">
      </md-input-container>
      <md-input-container class="md-block">
        <label>Description</label>
        <textarea ng-model="vm.newWorld.description"></textarea>
      </md-input-container>
      <dj-gallery label="Images" multiple="false"></dj-gallery>
      <md-content layout="row" layout-align="end">
        <md-button ui-sref="worlds" class="md-secondary">
          Cancel
        </md-button>
        <md-button type="submit" class="md-raised md-primary">
          Save
        </md-button>

      </md-content>
    </form>
</md-content>
