<md-content class="md-padding" layout-xs="column" layout="row">
    <md-card flex>
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">Login</span>
        </md-card-title-text>
      </md-card-title>
      <md-card-content>
        <form>

          <md-input-container class="md-block">
            <label>Email</label>
            <input ng-model="vm.login.email" type="email">
          </md-input-container>
          <md-input-container class="md-block">
            <label>Password</label>
            <input ng-model="vm.login.password" type="password">
          </md-input-container>

        </form>
      </md-card-content>
      <md-card-actions layout="row" layout-align="end center">
        <md-button ng-click="vm.login()">Login</md-button>
      </md-card-actions>
    </md-card>
    <span class="Login__separator">
      - OR -
    </span>
    <md-card flex>
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">Register</span>

        </md-card-title-text>

      </md-card-title>
      <md-card-content>
        <form>

          <md-input-container class="md-block">
            <label>Email</label>
            <input ng-model="vm.register.email" type="email">
          </md-input-container>
          <md-input-container class="md-block">
            <label>Password</label>
            <input ng-model="vm.register.password" type="password">
          </md-input-container>
          <md-input-container class="md-block">
            <label>Confirm Password</label>
            <input ng-model="vm.register.confirmPass" type="password">
          </md-input-container>

        </form>
      </md-card-content>
      <md-card-actions layout="row" layout-align="end center">
        <md-button ng-click="vm.register()">Register</md-button>
      </md-card-actions>
    </md-card>
</md-content>
<md-content layout-padding>
  <h2>Or Log in with a Provider</h2>
  <md-button ng-click="vm.loginWith('google')">
    Google
  </md-button>
  <md-button ng-click="vm.loginWith('github')">
    Github
  </md-button>
</md-content>
