<div class="container">
	<div class="row">
        <div class="col-sm-3 profile-sidebar">
            <ul>
                <li>
                    <a href ui-sref=".profile">Profile</a>
                </li>
                <li>
                    <a href ui-sref=".accounts">Linked Accounts</a>
                </li>
                <li>
                    <a href ui-sref=".worlds">Worlds</a>
                </li>
            </ul>
        </div>
        <div class="col-sm-9">
            <ui-view>
            </ui-view>
        </div>
    </div>
</div>
