<md-toolbar class="TopNav" md-whiteframe="5" ng-cloak>
  <div class="md-toolbar-tools">
    <span>
      <a href ui-sref="main">
        djinnius
      </a>
    </span>
    <span flex>
      <!-- app links? -->
    </span>
    <!-- fill up the space between left and right area -->
    <small>{{ user.displayName || user.email }}</small>

    <md-button aria-label="Profile" class="md-icon-button" ng-if="user" ui-sref="profile.profile">
      <md-icon ng-if="user">account_circle</md-icon>
    </md-button>
    <md-button ui-sref="login" ng-if="!user">
      Log In
    </md-button>
  </div>
</md-toolbar>
